
<header class="main-header">
  <div class="top-bar"></div>
  <nav class="main-nav">

    <div class="nav-left">
      <a routerLink="/" class="logo-link">
        <img src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-ar.svg" alt="Noon Logo"
          class="logo">
      </a>

      <!-- (1) القسم الجديد الذي أضفناه -->
      <div class="delivery-info">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg" alt="Egypt Flag"
          class="flag-icon">
        <div class="delivery-text">
          <span class="delivery-label">{{ 'DELIVERY_TO' | translate }}</span>
          <span class="delivery-city">{{ 'CAIRO' | translate }}</span>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

    </div>



    <div class="nav-center">
      <input type="text" [placeholder]="'SEARCH_PLACEHOLDER' | translate" class="search-bar">
    </div>
    <div class="nav-right">

      <!-- (1) قسم جديد يجمع اللغة والدخول -->
      <div class="user-actions">
        <!-- زر تغيير اللغة -->
        <a class="lang-switch" (click)="switchLanguage()">
          {{ currentLang === 'ar' ? ('ENGLISH' | translate) : ('ARABIC' | translate) }}
        </a>

        <div class="separator"></div>

        <div class="nav-icon" (click)="openLoginDialog()">
          <span>{{ 'LOGIN' | translate }}</span>
          <mat-icon>person_outline</mat-icon>
        </div>
      </div>



      <div class="separator"></div>

      <!-- (3) قسم المفضلة: النص أولاً ثم الأيقونة -->
      <div class="nav-icon">
        <span></span>
        <mat-icon>favorite_border</mat-icon>
      </div>

      <!-- (4) قسم عربة التسوق: النص أولاً ثم الأيقونة -->
      <div class="nav-icon">
        <span></span>
        <mat-icon>shopping_cart_outline</mat-icon>
      </div>

    </div>
  </nav>


  <nav class="categories-nav">

    <!-- السهم الأيسر، يظهر عند الحاجة -->
    <button *ngIf="showLeftArrow" class="nav-arrow left-arrow" (click)="scrollLeft()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- الحاوية التي ستخفي المحتوى الزائد وتسمح بالتمرير -->
    <div class="categories-wrapper" #categoriesWrapper>

      <!-- هذه هي قائمتك الطويلة، مع إضافة المرجع #categoriesList -->
      <ul class="categories-list" #categoriesList>

        <!-- عنصر قائمة مع قائمة ضخمة -->
        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'ELECTRONICS' | translate }}</a>
          <!-- هذه هي القائمة المنسدلة (البوب أب) -->
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/electronics_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <!-- عنصر قائمة عادي -->
        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'WOMEN_FASHION' | translate}}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/women_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'MEN_FASHION' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/men_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'KIDS_FASHION' | translate}}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/kids_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'BEAUTY' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/beauty_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'HOME_APPLIANCES' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/home_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'BABY' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/baby_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'TOYS' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/toys_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'GROCERY' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/grocery_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'AUTOMOTIVE' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/Automotive_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'HEALTH' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20250319/c294990cc791ac14fe7ea77b210058b9/health_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'SPORTS' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/sport_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

        <li class="categories-nav-item has-megamenu">
          <a href="#">{{ 'BOOKS_STATIONERY' | translate }}</a>
          <div class="mega-menu">
            <div class="megamenu-content">
              <div class="megamenu-column">
                <h4>{{ 'PHONES_TABLETS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{ 'PHONES' | translate }}</a></li>
                  <li><a href="#">{{ 'TABLETS' | translate }}</a></li>
                  <li><a href="#">{{ 'POWER_BANKS' | translate }}</a></li>
                  <li><a href="#">{{ 'WEARABLES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'LAPTOPS_COMPUTERS' | translate }}</h4>
                <ul>
                  <li><a href="#">{{'LAPTOPS' | translate}}</a></li>
                  <li><a href="#">{{'MONITORS' | translate}}</a></li>
                  <li><a href="#">{{'PRINTERS_SCANNERS' | translate}}</a></li>
                  <li><a href="#">{{'STORAGE' | translate}}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <h4>{{ 'HOME_DEVICES' | translate}}</h4>
                <ul>
                  <li><a href="#">{{ 'TVS' | translate}}</a></li>
                  <li><a href="#">{{ 'FRIDGES' | translate }}</a></li>
                  <li><a href="#">{{ 'WASHING_MACHINES' | translate}}</a></li>
                  <li><a href="#">{{ 'MICROWAVES' | translate }}</a></li>
                </ul>
              </div>
              <div class="megamenu-column">
                <img
                  src="https://a.nooncdn.com/cms/pages/20241017/1f6ecdf7608d0ce6d89d97f1b9770f47/Stationery_dk_eg-nav.png"
                  alt="Electronics Offer">
              </div>
            </div>
          </div>
        </li>

      </ul>


    </div>

    <!-- السهم الأيمن، يظهر عند الحاجة -->
    <button *ngIf="showRightArrow" class="nav-arrow right-arrow" (click)="scrollRight()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </nav>


</header>



<app-slider></app-slider>


<!-- ======================= قسم البانرات الترويجية ======================= -->
<section class="promo-banners-section">
  <div class="container">
    <div class="banners-grid">

      <div class="banner-card quad-banner">
        <h4>اشتري اكتر وبالك مرتاح</h4>
        <div class="quad-banner-grid">

          <a href="/product-category-1" class="quad-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/cfbfc258-3b6c-458b-9fdf-43b8d3eca3b2.png" alt="منتج 1">
          </a>

          <a href="/product-category-2" class="quad-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/22bed08a-1a38-4f5d-adb7-f02779f64068.png" alt="منتج 2">
          </a>

          <a href="/product-category-3" class="quad-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/ec87f061-cc2c-46e7-96e5-c6a4c9195522.png" alt="منتج 3">
          </a>

          <a href="/product-category-4" class="quad-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/2d3f6cac-3eef-418c-8fee-65fd8638c580.png" alt="منتج 4">
          </a>

        </div>
      </div>

      <div class="banner-card quad-banner">
        <h4>عروض ميجا</h4>
        <div class="quad-banner-grid">

          <a href="/product-category-1" class="quad-item">
            <img src="https://f.nooncdn.com/p/pzsku/Z09BC59F7E93A1C2ED6AFZ/45/_/1738751026/5dd4f7ff-edee-4962-b049-354b927c630b.jpg?width=240" alt="منتج 1">
          </a>

          <a href="/product-category-2" class="quad-item">
            <img src="https://f.nooncdn.com/p/pnsku/N70165067V/45/_/1743069876/f14f089e-5f9d-4ae4-b3b8-9c5ac91ba7af.jpg?width=240" alt="منتج 2">
          </a>

          <a href="/product-category-3" class="quad-item">
            <img src="https://f.nooncdn.com/p/pzsku/ZA30EC9C48854AC7D9C9CZ/45/_/1722930037/c6342f80-b070-470f-ad68-1abae1e8cf05.jpg?width=240" alt="منتج 3">
          </a>

          <a href="/product-category-4" class="quad-item">
            <img src="https://f.nooncdn.com/p/pzsku/Z900E38B43F222302BB29Z/45/1742728230/74831566-43f1-472d-802c-502fcd214742.jpg?width=240" alt="منتج 4">
          </a>

        </div>
      </div>

      <div class="banner-card duo-banner">
        <h4>شوف كل الخصومات</h4>
        <div class="duo-banner-grid">

          <a href="/product-category-1" class="duo-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/55230b52-36a2-48e1-8e2e-935501a371ec.png" alt="منتج 1">
          </a>

          <a href="/product-category-2" class="duo-item">
            <img src="https://f.nooncdn.com/mpcms/EN0003/assets/5e796bf3-b722-4302-a802-69ec5223c4d4.png" alt="منتج 2">
          </a>

        </div>
      </div>

    </div>
  </div>
</section>


<!-- ======================= قسم "مقترحة لك" ======================= -->
<section class="recommendations-section">
  <div class="container">

    <!-- 1. رأس القسم (العنوان + زر "عرض الكل") -->
    <div class="section-header">
      <h2 class="section-title">مقترحة لك</h2>
    </div>

    <!-- 2. حاوية الشريط القابل للتمرير (مع أزرار التحكم) -->
    <div class="carousel-container">
      <!-- زر التمرير لليسار (في RTL سيكون لليمين) -->
      <button class="carousel-arrow prev" (click)="scrollCarousel(-300)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <!-- الشريط الفعلي الذي يحتوي على المنتجات -->
      <div class="products-carousel" #productCarousel>

        <!-- بطاقة منتج 1 (مثال) -->
        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/v1686228318/N53351168A_1.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
            </button>

        </div>


        <!-- بطاقة منتج 2 -->
        <div class="product-card">
          <a href="/product/2" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N70035206V/45/_/1712239207/3e7c97e2-cf7d-48ee-b324-a5d4aa30efe8.jpg?width=800" alt="اسم المنتج">
            </div>
            <div class="product-info">
              <p class="product-name">منتج آخر بسعر مميز</p>
              <div class="product-price">
                <span class="current-price">899.50 جنيه</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★★</span>
                <span class="rating-count">(85)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N70031501V/45/_/1709822664/ac09b153-6a69-47f5-9b21-842cd119900b.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N52600818A/45/_/1717492748/7ab506d6-3b2a-423a-a114-6378ae06af3b.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N70050653V/45/_/1709280167/1250c999-24df-415d-b568-e5f4817d7d51.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/v1665037935/N53355498A_1.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N70081959V/45/_/1717138950/c6721680-2396-4f08-a5d0-38208f32bac5.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pzsku/Z1BA288DC41339AADE530Z/45/_/1717507155/2e43fadf-d3f8-40a0-8f23-06f2fd3b1d68.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pzsku/ZB82A8EEBF4993E96451AZ/45/_/1674423017/8e10c96a-d47c-4883-8f49-a3227af119d4.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pnsku/N70106183V/45/_/1726043631/3064c465-3457-42ef-a234-0b6382365281.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pzsku/Z381EC15AEC5299666293Z/45/_/1698567127/cb73bfed-2eb2-470b-8657-52697136cd76.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/v1527138800/N14737059A_1.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>

        </div>


        <div class="product-card">
          <a href="/product/1" class="product-link">
            <div class="product-image-container">
              <img src="https://f.nooncdn.com/p/pzsku/Z2AC9037D4AD0224CC289Z/45/_/1735817528/a847ae35-8578-401f-b894-5da20685d849.jpg?width=800" alt="اسم المنتج">
              <div class="express-badge">
                <img src="https://f.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="Express">
              </div>
            </div>
            <div class="product-info">
              <p class="product-name">اسم منتج طويل جدًا يظهر في سطرين لضمان اختبار التصميم بشكل جيد...</p>
              <div class="product-price">
                <span class="current-price">1,250.00 جنيه</span>
                <span class="original-price">1,500.00</span>
              </div>
              <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="rating-count">(120)</span>
              </div>
            </div>
          </a>

          <button class="add-to-cart-btn" mat-icon-button (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>


        </div>



      </div>

      <!-- زر التمرير لليمين (في RTL سيكون لليسار) -->
      <button class="carousel-arrow next" (click)="scrollCarousel(300)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
</section>



<!--************ البرندات************-->

<section class="official-store-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title"><span>شوف</span> استور البراندات الرسمية</h2>
    </div>

    <div class="carousel-wrapper">
      <button class="carousel-arrow prev" (click)="scrollBrands(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <!-- ================== المرجع الآن هنا ================== -->
      <div class="brands-carousel-container" #brandCarousel>

        <!-- هذه الشبكة لم تعد بحاجة لمرجع -->
        <div class="brands-grid">
          <div class="brand-card" *ngFor="let brand of brands">
            <a [href]="brand.link" target="_blank">
              <img [src]="brand.logo" [alt]="brand.name" />
            </a>
          </div>
        </div>
      </div>
      <!-- ======================================================= -->

      <button class="carousel-arrow next" (click)="scrollBrands(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</section>


<app-section></app-section>
