<!-- src/app/features/products/components/product-card/product-card.component.html -->
<div class="noon-product-card">
  <div class="card-image-wrapper">
    <img [src]="product.image" [alt]="product.title">
  </div>
  <div class="card-content">
    <p class="product-title">{{ product.title }}</p>
    <p class="product-price">{{ product.price | currency:'EGP ' }}</p>
    <button class="add-to-cart-btn" (click)="addToCart(product)">
      <mat-icon>add_shopping_cart</mat-icon>
      {{ 'ADD_TO_CART' | translate }}
      </button>
  </div>
</div>
